# Multiple Linear Regression

In [1]:
import numpy as np
import pandas as pd 
import matplotlib.pylab as plt
import pylab as pl
from sklearn import linear_model
%matplotlib inline

In [2]:
df = pd.read_csv('patients_large.csv')
df.head()

   Age   BMI  Cholesterol  ExerciseHours  SystolicBP
0   55  24.5          190              6        97.8
1   25  18.6          185              9        63.1
2   50  34.3          234              3       130.0
3   38  32.0          221              9        97.2
4   63  31.6          204              7       122.4

In [3]:
df.describe()

               Age          BMI  Cholesterol  ExerciseHours   SystolicBP
count  1000.000000  1000.000000  1000.000000    1000.000000  1000.000000
mean     44.626000    26.413800   198.294000       4.503000   104.410900
std      14.379461     4.855987    28.413005       2.889003    17.972801
min      20.000000    18.000000   150.000000       0.000000    55.000000
25%      32.000000    22.000000   174.000000       2.000000    92.375000
50%      45.000000    26.500000   196.000000       5.000000   105.000000
75%      57.000000    30.700000   222.000000       7.000000   116.800000
max      69.000000    34.900000   249.000000       9.000000   156.000000

In [21]:
cdf = df[['BMI' , 'Cholesterol' ,  'SystolicBP','ExerciseHours'  , 'Age']]
cdf.head()

    BMI  Cholesterol  SystolicBP  ExerciseHours  Age
0  24.5          190        97.8              6   55
1  18.6          185        63.1              9   25
2  34.3          234       130.0              3   50
3  32.0          221        97.2              9   38
4  31.6          204       122.4              7   63

In [22]:
mask = np.random.randn(len(df)) < 0.8
train = cdf[mask]
test = cdf [~mask]

In [23]:
regr = linear_model.LinearRegression()
x = np.asanyarray(train[['BMI' ,'Cholesterol' , 'ExerciseHours'  , 'Age']])
y = np.asanyarray(train [['SystolicBP']])
regr.fit(x,y)
print('Coefficent : ' , regr.coef_)
print('Intercept : ' , regr.intercept_)

Coefficent :  [[ 1.13712718  0.30774904 -1.83954222  0.54871606]]
Intercept :  [-3.11809293]

## ForeCast New Patient

In [28]:
new_patient = [[18.6 , 185 , 9 , 25]]
predicted_bp = regr.predict(new_patient)
print("Predicted SystolicBP:", predicted_bp[0][0])

Predicted SystolicBP: 72.12806708678198

In [24]:
y_hat = regr.predict(test[['BMI' ,'Cholesterol' ,  'ExerciseHours' , 'Age']])
x = np.asanyarray(test[['BMI' ,'Cholesterol','ExerciseHours'    , 'Age']]) 
y = np.asanyarray(test[['SystolicBP']])

print('Mean :' , np.mean((y_hat - y)**2))
print('Variance Score :  ' , regr.score(x,y))

Mean : 113.7997735018898
Variance Score :   0.650685406210112

C:\Users\sajjad\AppData\Local\Programs\Python\Python313\Lib\site-packages\sklearn\utils\validation.py:2742: UserWarning: X has feature names, but LinearRegression was fitted without feature names
  warnings.warn(